#body {
    background-image: url(./assets/עמוד\ פתיחה\ הקדמה\ 1-\ סופי.png);
    background-size: 100vw 100vh;
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

#blackBackground {
    opacity: 0%;
    z-index: 2;
    position: relative;
    visibility: visible;
}

.cannotSelect {
    pointer-events: none;
}

@keyframes hideBackground {
    0% { 
        opacity: 80%;
    }
    20% {
         opacity: 75%;
    }
    100% {
        opacity: 0%;
    }
}

#startBtn {
    background: transparent;
    border: none !important;
    font-size: 0;
    cursor: pointer;
    position: absolute;
    top: 80vh;
    left: 66vw;
    width: 15vw;
    height: 10vh;
}

#startBtn:hover { 
    top: 80.8vh;
}

#startBtnImg {
    height: 12vh;
    width: 15vw;
}

.redDots {
    cursor: pointer;
    visibility: hidden;
    height: 5.5vh;
    width: 3vw;
    position: absolute;
}

#redDot1 {
    left: 7.6vw;
    top: 74.2vh;
}

#redDot2 {
    left: 17.7vw;
    top: 72vh;
}

#redDot3 {
    left: 20.1vw;
    top: 61vh;
}

#redDot4 {
    left: 23.6vw;
    top: 51.4vh;
}

#redDot5 {
    left: 33.2vw;
    top: 46vh;
}

#redDot6 {
    left: 38.4vw;
    top: 37.2vh;
}

#redDot7 {
    left: 36.7vw;
    top: 26.3vh;
}

.redDots:hover {
    height: 5.8vh;
    width: 3.3vw;
}